@charset "utf-8";
#body, HTML {
	padding-top:10px;
	background-image:url(bg.jpg);
	background-repeat:repeat;
}
#container {
	background-color: #999999;
	height: auto;
	width: 1000px;
	margin-top: 50px;
	margin-right: auto;
	margin-left: auto;
}
#header {
	background-image:url(hotel_balatura.jpg);
	height: 300px;
	width: 1000px;
	border-radius:5px 5px 0px 0px;
}
#navigacija {
	background-color: #fdf3bc;
	height: 50px;
	width: 1000px;
}
#navigacija a {
	background-color:#fdf3bc;
	width:150px;
	height:35px;
	display: block;
	padding-top:15px;
	color:#9b8e65;
	text-decoration:none;
	font-size:18px;
}
#navigacija a:hover {
	background-color:#9b8e65;
	width:150px;
	height:35px;
	display: block;
	padding-top:15px;
	color:#fdf3bc;
	text-decoration:none;
	font-weight:bold;
	font-size:18px;
}
#sadrzaj {
	background-color: #fdf3bc;
	width: 980px;
	height:auto;
	padding-left:20px;
	padding-top:20px;
}
#footer {
	width: 1000px;
	height: 35px;
	padding-top:15px;
	background-color: #fdf3bc;
	border-radius:0px 0px 5px 5px;
	text-align:center;
	color:#a44121;
	font-style:italic;
}
.naslovi {
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:18px;
	color:#a44121;
}
.tekst {
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#99946b;
}
td
{
text-align:center;
}